<div>
    <button onclick=@(() => Action()) type="button" class="btn btn-primary px-5">
        @ButtonText()
    </button>
</div>

@functions
{
    [Parameter] Func<Task> Action { get; set; }
    [Parameter] bool IsCounting { get; set; }

    string ButtonText()
    {
        if (IsCounting)
            return "Pause";
        else
            return "Start";
    }
}


