<div>
    <label class="timeRemaining">
        @CountAsTime(this.CurrentTime)
    </label>
</div>

@functions
{
    [Parameter] int CurrentTime { get; set; }

    public string CountAsTime(int count)
    {
        int min = Convert.ToInt32(Math.Floor(count / 60.0));
        int sec = Convert.ToInt32(Math.Floor(count % 60.0));
        return $"{min:0}:{sec:00}";
    }
}
