<div class=@PanelStyle>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <TimeDisplay CurrentTime=CurrentCount />
        </div>
        <div class="col-xs-12 col-md-4">
            <StartStop Action=StartStopAction IsCounting=IsCounting />
        </div>
        <div class="col-xs-12 col-md-4">
            <Reset Action=ResetAction />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <Explanation CurrentCount=CurrentCount IsCounting=IsCounting />
        </div>
    </div>

</div>

@functions
{
[Parameter] string PanelStyle { get; set; }
[Parameter] Func<Task> ResetAction { get; set; }
[Parameter] Func<Task> StartStopAction { get; set; }
[Parameter] bool IsCounting { get; set; }
[Parameter] int CurrentCount { get; set; }
}


