@inject AppState state

<div class="container">
    <TimerPanel PanelStyle=state.BackgroundStyle ResetAction=state.Reset StartStopAction=state.StartStop IsCounting=state.IsCounting CurrentCount=state.CurrentCount />
</div>

@functions
{
    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }
}
